In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import os

# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Portsmouth,GB,2020-06-27 19:08:42,50.80,-1.09,61.00,82,88,7.00
1,1,Erzin,TR,2020-06-27 19:10:28,36.96,36.20,77.00,89,0,0.87
2,2,Carutapera,BR,2020-06-27 19:10:29,-1.20,-46.02,80.44,89,23,6.58
3,3,Port Hawkesbury,CA,2020-06-27 19:05:39,45.62,-61.35,77.00,69,1,12.75
4,4,Half Moon Bay,US,2020-06-27 19:07:50,37.46,-122.43,73.99,72,20,6.93

In [2]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# configuring gmaps to use g_key

gmaps.configure(api_key=g_key)

In [4]:
# heatmap of max temperature

# combine lats, lngs to a new array
# use [[ ]] to capture both arrays

locations = city_data_df[["Lat", "Lng"]]

# assign max temps

max_temp = city_data_df["Max Temp"]

# assign fig variable

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign heatmap variable method

heat_layer = gmaps.heatmap_layer(locations,
                                 weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)
# dissipating=False radius of influence of each point doesnt changes as you zoom in or out
# max_intensity to intensify each gradient
# point_radius to make each measurement larger

# add heatmap layer

fig.add_layer(heat_layer)

# call the figure to be drawn
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# heatmap of humidity

locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations,
                                 weights=humidity,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# heatmap of cloudiness

locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations,
                                 weights=clouds,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# heatmap of wind speed

locations = city_data_df[['Lat', 'Lng']]
wind_speed = city_data_df['Wind Speed']

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations,
                                 weights=wind_speed,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# asking the customer minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# filter dataset to provide a preferred city name according to clients input


city_data_df.head(10)
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                      (city_data_df['Max Temp'] >= min_temp)]

preferred_cities_df.head(10)

# preferred_cities_df.count()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Erzin,TR,2020-06-27 19:10:28,36.96,36.20,77.00,89,0,0.87
2,2,Carutapera,BR,2020-06-27 19:10:29,-1.20,-46.02,80.44,89,23,6.58
3,3,Port Hawkesbury,CA,2020-06-27 19:05:39,45.62,-61.35,77.00,69,1,12.75
6,6,Paciran,ID,2020-06-27 19:10:30,-6.88,112.38,76.50,83,63,6.04
16,16,Victoria,HK,2020-06-27 19:10:08,22.29,114.16,84.00,74,89,5.99
17,17,Sao Felix Do Xingu,BR,2020-06-27 19:10:32,-6.64,-51.99,88.27,48,28,4.16
19,19,Cislau,RO,2020-06-27 19:10:33,45.25,26.37,80.60,44,40,4.70
20,20,Salalah,OM,2020-06-27 19:10:33,17.02,54.09,84.20,83,75,9.17
21,21,Atuona,PF,2020-06-27 19:10:33,-9.80,-139.03,79.74,74,0,13.04
22,22,Biltine,TD,2020-06-27 19:10:33,14.53,20.92,89.06,35,99,10.18

In [11]:
# copying preferred_cities_df to hotel_df for a new df to accompany a clients search

hotel_df = preferred_cities_df[['City', 'Country','Max Temp','Lat','Lng']].copy()

hotel_df.head()

# entering an empty hotel array

hotel_df["Hotel Name"] = ""

hotel_df

                City Country  Max Temp    Lat     Lng Hotel Name
1              Erzin      TR     77.00  36.96   36.20
2         Carutapera      BR     80.44  -1.20  -46.02
3    Port Hawkesbury      CA     77.00  45.62  -61.35
6            Paciran      ID     76.50  -6.88  112.38
16          Victoria      HK     84.00  22.29  114.16
..               ...     ...       ...    ...     ...        ...
564             Daru      PG     77.74  -9.08  143.21
565          Lat Yao      TH     79.52  15.75   99.79
566           Banjar      ID     78.80  -8.19  114.97
573          Hingoli      IN     82.78  19.72   77.15
578            Aneho      TG     80.60   6.23    1.60

[208 rows x 6 columns]

In [25]:
# testing google nearby search api

import requests
import gmaps

from config import g_key

hotel_df

                City Country  Max Temp    Lat     Lng Hotel Name
1              Erzin      TR     77.00  36.96   36.20
2         Carutapera      BR     80.44  -1.20  -46.02
3    Port Hawkesbury      CA     77.00  45.62  -61.35
6            Paciran      ID     76.50  -6.88  112.38
16          Victoria      HK     84.00  22.29  114.16
..               ...     ...       ...    ...     ...        ...
564             Daru      PG     77.74  -9.08  143.21
565          Lat Yao      TH     79.52  15.75   99.79
566           Banjar      ID     78.80  -8.19  114.97
573          Hingoli      IN     82.78  19.72   77.15
578            Aneho      TG     80.60   6.23    1.60

[208 rows x 6 columns]

In [26]:
# # using lodging as a replacement for a hotel

# # setting parameters to match the google api reply and retrieve data

# params = {
#     "radius": 5000,
#     "type" : "lodging",
#     "ket" : g_key
# }

# # Iterate through the df
# for index, row in hotel_df.iterrows():

#     #     getting lat and lng from df
#     lat = row["Lat"]
#     lng = row["Lng"]
    
#     # Add the latitude and longitude to location key for the params dictionary
#     params["locations"]= f"{lat},{lng}"
    
#     # Use the search term: "lodging" and our latitude and longitude
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
#     # make request and get jsons from search query
#     hotels = requests.get(base_url, params=params).json()
    
#     # Grab the first hotel from the results and store the name
#     try:
#         hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
#     except:
#         print("Hotel not found...")

In [27]:
# hotel_df
# hotel_df['Hotel Name'].unique

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
#     # Grab the first hotel from the results and store the name.
#     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping..zz")

Hotel not found... skipping..zz
Hotel not found... skipping..zz
Hotel not found... skipping..zz
Hotel not found... skipping..zz
Hotel not found... skipping..zz
Hotel not found... skipping..zz
Hotel not found... skipping..zz

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Erzin,TR,77.00,36.96,36.20,Artemis Otel
2,Carutapera,BR,80.44,-1.20,-46.02,Lidera
3,Port Hawkesbury,CA,77.00,45.62,-61.35,Hearthstone Inn Port Hawkesbury
6,Paciran,ID,76.50,-6.88,112.38,Tanjung Kodok Beach Resort
16,Victoria,HK,84.00,22.29,114.16,Mini Hotel Central
17,Sao Felix Do Xingu,BR,88.27,-6.64,-51.99,Apart Hotel Rio Xingu
19,Cislau,RO,80.60,45.25,26.37,Casa 4 anotimpuri
20,Salalah,OM,84.20,17.02,54.09,HAMDAN PLAZA HOTEL
21,Atuona,PF,79.74,-9.80,-139.03,Villa Enata
22,Biltine,TD,89.06,14.53,20.92,Hôtel Trois Étoiles de Biltine

In [43]:
# Add a heatmap of temperature for the vacation spots

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations,
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations,
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))